div.game-bg {
    background-color: rgb(221, 200, 131);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.game-wrapper {
    width: 30%;
    min-width: 300px;
}

h1.game-title {
    text-align: center;
    margin: 0;
}

div.game-teams {
    margin: 25px 0;
}

div.game-team {
    padding: 10px;
}

div.game-team-name {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 105%;
    color: rgb(95, 89, 35);
}

div.game-team-score {
    display: flex;
}

div.game-team-score input {
    width: 100%;
}

div.game-team-score label {
    background-color: rgb(207, 194, 74);
    padding: 5px 10px;
    margin-left: -3px;
    border-bottom: 3px solid rgb(161, 151, 61);
    border-radius: 0 3px 3px 0;
}

button.game-btn-next {
    background-color: rgb(108, 168, 102);
    color: white;
    width: 100%;
}

