div.participants-bg {
    background-color: rgb(255, 79, 79);
    color: white;
}

div.participants-wrapper {
    height: 100%;
    width: 50%;
    min-width: 300px;
    margin: auto;
}

h1.participants-title {
    text-align: center;
}

ul.participants-list {
    list-style: none;
    margin: 20px 0;
    padding: 10px;
    height: 60vh;
    overflow: auto;
    max-width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    border-radius: 3px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    border-bottom: 3px solid rgb(228, 130, 123);
}

ul.participants-list li {
    padding: 5px 0;
    width: 250px;
}

ul.participants-list li span {
    margin-left: 5px;
}

button.participants-btn-add {
    background-color: rgb(93, 145, 102);
    color: white;
}

button.participants-btn-remove {
    background-color: rgb(255, 91, 91);
    color: white;
}

button.participants-btn-next {
    background-color: rgb(151, 59, 59);
    color: white;
    width: 100%;
}