div.ranking-bg {
    background-color: rgba(117, 180, 102, 0.877);
    color: white;
}

div.ranking-wrapper {
    height: 100%;
    width: 70%;
    min-width: 300px;
    margin: auto;
}

h1.ranking-title {
    text-align: center;
}

div.ranking-teams {
    max-width: 400px;
    min-width: 300px;
    margin: auto;
}

div.ranking-team {
    margin: 10px;
    color: black;
    padding: 0;
    border-radius: 5px;
}

div.ranking-team-rank {
    float: left;
    font-weight: bolder;
    text-align: center;
    color: white;
    font-size: 25px;
    padding: 10px 20px;
    background-color: rgb(67, 114, 87);
    border-bottom: 3px solid rgb(43, 53, 43);
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.199);
}

div.ranking-team-score {
    background-color: blanchedalmond;
    text-align: center;
    padding: 5px;
    overflow: visible;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.199);
}

div.ranking-team-score h3 {
    margin: 0;
}

button.ranking-btn-next {
    float: right;
    background-color: rgba(84, 75, 206, 0.685);
    padding: 5px 40px;
    color: white;
    margin-right: 10px;
}

small.ranking-btn-restart {
    float: left;
    margin: 10px;
    cursor: pointer;
}

small.ranking-btn-restart:hover {
    text-decoration: underline;
}

