div.teams-bg {
    background-color: rgb(121, 121, 252);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.teams-wrapper {
    height: 90%;
    width: 70%;
    min-width: 350px;
    margin: auto;
    position: relative;
}

h1.teams-title {
    text-align: center;
}

button.teams-btn-refresh {
    background-color: rgb(96, 78, 199);
    color: white;
}

div.teams-teams {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0;
}

div.teams-team {
    padding: 0;
    margin: 5px;
    border-radius: 5px;
    flex: 1 0 20%;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.199);
    height: 100%;
}

div.teams-team h3 {
    padding: 10px;
    margin: 0;
    background-color: rgb(93, 91, 218);
    border-bottom: 4px solid rgb(163, 165, 250);
    border-radius: 3px 3px 0 0;
}

div.teams-team ul {
    list-style: none;
    padding: 10px;
    background: rgba(255, 255, 255, 0.568);
    color: black;
    margin: 0;
    border: 1px solid rgb(204, 204, 204);
    height: 100%;
}

div.teams-bottom {
    width: 100%;
    position: absolute; 
    bottom: 0;
}

div.teams-bottom-left {
    float: left;
}

div.teams-bottom-right {
    float: right;
}

button.teams-btn-back {
    background-color: rgb(110, 191, 216);
}

button.teams-btn-next {
    background-color: rgb(146, 161, 12);
}